.titulo-nav-header{
    font-family: 'Yellowtail',cursive;
}


.enlace-footer{
    text-decoration: underline;
    color:white;
    cursor:pointer;
}
.politica-privacidad{
    text-decoration: underline;
}

a.btn-producto{
    width: 90%;
}

.card-content span{
        font-size: smaller;
    }

.card.small{
    height: 450px;
}


@media screen and (min-width: 320px) and (max-width:599px){
    .section{
        width: 100%;
    }
    .card.small{
        height: 450px;
    }
    .card-content p{
        font-size: smaller;
    }
    .card-reveal span p{
        font-size: smaller;
    }
    .card-image img{
        height: 150px;
    }
}