.titulo-nav-header{
    font-family: 'Yellowtail',cursive;
}


.enlace-footer{
    text-decoration: underline;
    color:white;
    cursor:pointer;
}
.politica-privacidad{
    text-decoration: underline;
}

a.btn-producto{
    width: 90%;
}

@media screen and (max-width:600px){
    .titulo-producto{
        font-size: 3em;
    }
}